
// https://gist.github.com/cjrd/6863459
// License: MIT/X

#toolbox {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-bottom: 0.5em;
    margin-left: 1em;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    padding: 1em;
    z-index: 5;
}

#toolbox input {
    width: 30px;
    opacity: 0.4;
}

#toolbox input:hover {
    opacity: 1;
    cursor: pointer;
}

#hidden-file-upload {
    display: none;
}

#download-input {
    margin: 0 0.5em;
}
