
$grey:       #d7dcdd;
$red:        #b22a25;
$orange:     #f29441;
$yellow:     #f2b33d;
$green:      #089a36;
$blue-dark:  #2976a6;
$blue-light: #9cc8d9;
$grey-light: #f9fbfc;

$use-heavy:     $red;
$use-mid:       $green;
$use-light:     $yellow;
$use-abstain:   $blue-light;

$conflict-high: $red;
$conflict-mid:  $orange;
$conflict-none: $grey;

$common-high:   $blue-dark;
$common-some:   $blue-light;
$common-none:   $grey;

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Slabo 27px', serif;
    color: $blue-dark;
}

h1, h2, h3, h4 {
    font-size: 1em;
}
.alpha {
    font-size: 2em;
}

.beta {
    font-size: 1.5em;
}

.background {
    fill: white;
}

.group {
  cursor: move;
}

.group__background {
    fill: $grey-light;
    stroke: white;
    stroke-width: 10px;
}

.group__name {
    @extend .alpha;
    fill: $blue-dark;
    text-anchor: middle;
}

#header {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 50px;
    text-align: center;
}

.toggle-aod {
    @extend .button;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.5em;
}

.button {
    padding: 0.5em;
    background-color: $blue-light;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.palette-1 { fill: $red; }
.palette-2 { fill: $orange; }
.palette-3 { fill: $yellow; }
.palette-4 { fill: $blue-light; }

.tag {
    background-color: $grey;
    color: white;
    padding: 6px;
    border-radius: 5px;
}

.link path {
    stroke: $red;
    stroke-width: 10px;
}
