

$red:        #B22A25;  // (heavy)
$yellow:     #F2B33D;  // (casual)
$green:      #089A36;  // (in recovery)
$light-blue: #9CC8D9;  // (non-user)

// conflict:

$red:        #B22A25;  // (lot of conflict)
$orange:     #F29441;  // (some conflict)
$grey:       #D7DCDD;  // (no conflict)


// common:

$dark-blue:  #2976A6;  // (lot in common)
$light-blue: #9CC8D9;  // (something in common)
$grey:       #D7DCDD;  // (nothing in common)

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: sans-serif;
}

.background {
    fill: white;
}

.group__background {
    fill: #ffc;
}

#header {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 50px;
}

.toggle-aod {
    @extend .button;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.5em;
}

.button {
    padding: 0.5em;
    background-color: $light-blue;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
